/* Reset and basic styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f0f0f0;
}

.container {
    max-width: 1000px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
}

.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: background-color 0.3s;
    border-bottom: 2px solid transparent;
    border-radius: 8px 8px 0 0;
}

.tab button:hover {
    background-color: #ddd;
}

.tab button.active {
    background-color: #e7e7e7;
    border-bottom: 2px solid #3498db;
}

.tabcontent {
    display: none;
    padding: 20px;
    border-top: none;
}

.tabcontent.active {
    display: block;
}

/* Users list and group management */
.users-list, .groups-list, .group-management {
    flex: 1;
    border-right: 1px solid #ccc;
    padding: 20px;
    box-sizing: border-box;
    background-color: #3498db;
    color: #fff;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.users-list-container, .groups-list-container {
    height: 100%;
    overflow-y: auto;
}

.users-list h2, .groups-list h2, .group-management h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.users-list ul, .groups-list ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.user-item, .group-item {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    cursor: pointer;
}

.user-item.active, .group-item.active {
    background-color: #cdebff;
    color: #4f4f4f;
    padding: 10px;
    border-radius: 5px;
}

.user-item img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.user-item span, .group-item span {
    font-weight: bold;
}

.separator {
    height: 1px;
    background-color: #ccc;
    margin: 10px 0;
}

/* Chat area and messages */
.chat-area {
    flex: 3;
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-sizing: border-box;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.chat-messages {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 8px;
}

.message {
    margin-bottom: 5px;
    border-radius: 5px;
}

.message p {
    padding: 8px;
    border-radius: 15px;
    word-wrap: break-word;
}

.sender {
    background-color: #3498db;
    color: #fff;
    align-self: flex-end;
}

.receiver {
    background-color: #ecf0f1;
    color: #333;
    align-self: flex-start;
}

.message-input {
    margin-top: auto;
    display: flex;
}

.message-input input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
}

.message-input button {
    padding: 10px;
    border: none;
    background-color: #3498db;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

.user-form {
    max-width: 400px;
    padding: 40px;
    box-sizing: border-box;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.user-form h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
    text-align: center;
}

.user-form label {
    display: block;
    margin-bottom: 8px;
}

.user-form input {
    width: 100%;
    padding: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
}

.user-form button {
    padding: 12px;
    border: none;
    background-color: #3498db;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

.hidden {
    display: none;
}

.hideme {
    display: none;
}
a.logout {
    color: #fff;
    text-decoration: none;
}

/* CSS for highlighting selected group */
.groups-list-container ul li.active {
    background-color: #e9ecef; /* Example background color */
    border-left: 5px solid #007bff; /* Example highlight color */
    color: black;
}

.message {
    padding: 10px;
    margin: 5px 0;
    font-size: 12px; /* Smaller font size for messages */
    border-radius: 5px;
    max-width: 60%;
    word-wrap: break-word;
}
.sender {
    background-color: #d4edda;
    text-align: right;
    margin-left: auto;
}
.receiver {
    background-color: #f8d7da;
    text-align: left;
    margin-right: auto;
}
#chatArea {
    border: 1px solid #ccc;
    padding: 10px;
    height: 400px;
    overflow-y: scroll;
}
#messageFormContainer {
    margin-top: 10px;
}